extends layout 

block content 
    h1= title 

    if item_list.length 
        each item in item_list 
            p 
                a(href="/catalog/item/" + item._id) #{item.title}

    else 
        p There are no Items.